#div01 {
    border: 2px solid black;
}

#span01 { 
    border: 4px solid red;
}

#span02 {
    color:blue;
    font-weight:bold;
}

#span03 {
    color:darkolivegreen;
    font-weight:bold;
}

.cities {
    background-color: black;
    color: orange;
    margin: 15px;
    border: 3px solid yellowgreen;
    text-align: center;
}

#div03 {
    color: blue;
    font-size: xx-large;
    text-align: center;
    animation: myfirst 1s 1;
    animation-iteration-count: infinite;
}

#google { 
    width: 300px;
    height: 100px;
}

#div03 a:link {
    text-decoration: none;
}

@keyframes myfirst
{
    0%      {background:red;}
    25%     {background:yellow;}
    75%     {background:yellow;}
    100%    {background:red;}
}

#div03:hover {
    animation: myfirst2 2s 1;
    animation-iteration-count: infinite;
}

@keyframes myfirst2
{
    0%      {background:rgb(148, 18, 199);}
    25%     {background:rgb(0, 204, 255);}
    75%     {background:rgb(15, 15, 14);}
    100%    {background:rgb(29, 173, 48);}
}
